@font-face {
    font-family: "Kostar";
    src: url("fonts/Kostar.ttf") format('opentype');
}

/* font setting */
html {
    background-color: #bae2a8;
    scroll-behavior: smooth; /* 스크롤 시 부드럽게 이동 */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Kostar";
}

/* <----------Heder Setting----------> */
#Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #8eb287;
    z-index: 10000;
}

#NavMenu {
    display: flex;
    position: absolute;
    bottom: 16px;
    right: 20px;
    padding-right: 10px;
}

#LogoImg {
    width: 120px;
    margin-top: 20px;
    margin-left: 20px;
}

#TMIIconImg {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

#WorkIconImg {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

#IstarIconImg {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

#FriendImg img {
    width: 100%;
}

#NavMenu a {
    color: #000;
}

    #NavMenu a:link {
        text-decoration: none;
    }

#NavMenu img:hover {
    opacity: 50%;
}

#Email {
    padding-top: 60px;
    text-align: center;
    font-size: 16px;
}

/* <----------MainContainer Setting----------> */
#MainContainer {
    position: relative;
    width: 960px;
    margin: 0 auto; /* 박스(#main-container)를 뷰포트의 가로 방향 가운데로 정렬 */
    padding-top: 150px;
    padding-bottom: 60px;
}

#MainText {
    color: #3a4c3a;
    position: relative;
    font-family: "Kostar";
    font-size: 20px;
    line-height: 180%;
}

#BigTitle {
    font-size: 30px;
    text-align: center;
    margin: 0 auto; /* 박스(#main-container)를 뷰포트의 가로 방향 가운데로 정렬 */
}

/* <----------ProjectContainer Setting----------> */
#projects {
    position: relative;
    width: 100%;
    padding-top: 160px;
}

.ProjectContainer {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

.ProjectContainer > img {
    width: 100%;
}

.ProjectOverlay {
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.0;
    display: flex;
    flex-direction: column; /* 아이템이 세로 방향으로 쌓이는 flexbox */
    justify-content: center;
    align-items: center;
    transition: all 0.5s; /* css 속성값이 변하는 경우 애니메이션 처리 */
}

.ProjectOverlay:hover {
    opacity: 0.85;
}

.ProjectTitle {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.ProjectDescription {
    margin: 0;
    padding: 0;
}

/* <----------Work Setting----------> */

#WorkImgBox > img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#VideoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px auto 0;
}

#VideoContainer video {
    width: 100%;
    height: auto;
}

/* <----------Hobby Setting----------> */
    
#HobbyImgBox > img {
    width: 100%;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ImageContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#ImageContainer img {
    width: 50%;
}

/*미디어 쿼리(media query) - 반응형 웹 구현
사용자 화면의 뷰포트(viewport) 크기가 1024px보다 작은 경우(최대 1024px) 적용 */
@media screen and (max-width: 1024px) {
    #MainContainer {
        width: 90%;
    }

    #projects {
        padding-top: 80px;
    }

    #Email {
        padding-bottom: 20px; /* 아래 여백 조정 */
    }


    #WorkImgBox > img {
        width: 100%;
        margin-top: 50px;
    }

    #VideoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 50px auto 0;
    }

    #HobbyImgBox > img {
        width: 100%;
        margin-top: 50px;
    }
}
